<%- include('header'); -%> 
    <p>Name: John B </p>
    <p>Address: Downtown, Skyline Building, Dubai</p>
    <p>Phone Number: +971559237598</p>
    <p>Email Address: JohnB@hotmail.com</p>
<%- include('footer'); -%>