<%- include('header'); -%> 
    <div class='content'>
        <form method="POST" action="/api/login">
        <label>Username</label> <br>
        <input type="text" name="username" placeholder="Enter Your Username."> <br>
        <br>
        <label>Password</label> <br>
        <input type="text" name="password" placeholder="Enter Your Password."> <br>
        <br>
        <button> submit </button>
    </form>
</div>
<%- include('footer'); -%>