<%- include('header'); -%> 
<form method="POST" action="/api/login">
    <label>Username</label> <br>
    <input type="text" name="Username" placeholder="Enter Your Username."> <br>
    <br>
    <label>Password</label> <br>
    <input type="text" name="Password" placeholder="Enter Your Password."> <br>
    <br>
    <button> submit </button>
</form>
<%- include('footer'); -%>