<%- include('header'); -%> 
<div class='content'>
    <form method="POST" action="/api/register">
        <label>Username</label> <br>
        <input type="text" name="username" placeholder="Enter Your UserName."> <br>
        <br>
        <label>Password</label> <br>
        <input type="password" name="passwsord" placeholder="Enter Your Password."> <br>
        <br>
        <label>Society</label> <br>
        <input type="text" name="society" placeholder="Enter Your Society Name."> <br>
        <br>
        <label> Contact </label> <br>
        <input type="text" name="contact" placeholder="Enter Your Contact Detail."> <br>
        <br>
        <label> Addres</label> <br>
        <input type="text" name="addres" placeholder="Enter Your Addres."> <br>
        <br>
        <label> Zip Code</label> <br>
        <input type="text" name="zipcode" placeholder="Enter Your ZipCode."> <br>
        <br>
        <label> City</label> <br>
        <input type="text" name="city" placeholder="Enter Your City."> <br>
        <br>
        <label> Phone</label> <br>
        <input type="number" name="phone" placeholder="Enter Your Phone Number."> <br>
        <br>
        <label> Fax</label> <br>
        <input type="text" name="fax" placeholder="Enter Your Fax Number."> <br>
        <br>
        <label> Max_outstanding</label> <br>
        <input type="number" name="max_outstanding" placeholder="Enter Your Max Outstanding Detail"> <br>
        <br>
            <button> submit </button>
    </form>
<%- include('footer'); -%>