<%- include('header'); -%> 
    <form method="POST" action="/api/register">

        <label>Society</label> <br>
        <input type="text" name="Society" placeholder="Enter Your Society Name."> <br>
        <br>
        <label> Contact </label> <br>
        <input type="text" name="Contact" placeholder="Enter Your Contact Detail."> <br>
        <br>
        <label> Address</label> <br>
        <input type="text" name="Address" placeholder="Enter Your Address."> <br>
        <br>
        <label> Zip Code</label> <br>
        <input type="text" name="ZipCode" placeholder="Enter Your ZipCode."> <br>
        <br>
        <label> City</label> <br>
        <input type="text" name="City" placeholder="Enter Your City."> <br>
        <br>
        <label> Phone</label> <br>
        <input type="text" name="Phone" placeholder="Enter Your Phone Number."> <br>
        <br>
        <label> Fax</label> <br>
        <input type="text" name="Fax" placeholder="Enter Your Fax Number."> <br>
        <br>
        <label> Confirmation</label> <br>
        <input type="number" name="Confirmation" placeholder="Enter Your Confirmation Number."> <br>
        <br>
        <label> Payment</label> <br>
        <input type="text" name="Payment" placeholder="Enter Your Payment Details"> <br>
        <br>
        <label> Informations</label> <br>
        <input type="text" name="Informations" placeholder="Enter Your Information Details"> <br>
        <br>
        <label> Max_outstanding</label> <br>
        <input type="number" name="Max_outstanding" placeholder="Enter Your Max Outstanding Detail"> <br>
        <br>
            <button> submit </button>
    </form>
<%- include('footer'); -%>